canvas {
    position: fixed;
    top: 0;
    left: 0;
}
#canvas_container {
    position: relative;
    width: 400px;
    height: 300px;
    border: 1px solid black;
}
label {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
#function-textbox {
    position: absolute;
    z-index: 2;
}
#settings-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#settings-menu {
    position: relative;
    top: 10px;
    background-color: #261a26;
    border-radius: 5px;
    line-height: 30px;
    padding: 15px;
}
#input-menu {
    position: relative;
    top: -80px;
    background-color: #261a26;
    border-radius: 5px;
    line-height: 30px;
    padding: 15px;
}
.input-box {
    margin-top: 5px;
    background-color: #261a26;
    border-radius: 5px;
    border-color: #473647;
    border-style: solid;
    line-height: 30px;
    padding: 15px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
#gridsize-textbox {
    position: relative;
    left: 5px;
    z-index: 2;
    width: 50px;
}
#resolution-textbox {
    position: relative;
    left: 5px;
    z-index: 2;
    width: 50px;
}
#btn1 {
    position:absolute;
    z-index: 2;
    left: 185px;
}
#btn2 {
    position: relative;
    z-index: 3;
    width: 75px;
}
