:root {
    --main-color: #261f30;
    --inside-color: oklch(from var(--main-color) calc(l*1.2) c h);
    --accent-color: oklch(from var(--main-color) calc(l * 2.8) c h);
    --hover-color: oklch(from var(--main-color) calc(l*2.4) c h);
    --active-color: oklch(from var(--main-color) calc(l*2.2) c h);
    --text-color: #ffffff;
}
body {
    margin: 0;
}
#canvas-container {
    position: fixed;
    background-color: #0f0d0f;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}
#main-container {
    pointer-events: none;
    margin: 8px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}
label {
    color: var(--text-color);
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
#function-textbox {
    position: absolute;
    z-index: 2;
}
#settings-container {
    position: absolute;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#settings-menu {
    position: relative;
    top: 50px;
    background-color: var(--main-color);
    border-radius: 5px;
    line-height: 30px;
    padding: 15px;
}
#input-menu {
    position: absolute;
    top: 70px;
    background-color: var(--main-color);
    border-radius: 5px;
    line-height: 30px;
    padding: 15px;
}
.input-box {
    margin-top: 5px;
    background-color: var(--inside-color);
    border-radius: 5px;
    border-color: var(--accent-color);
    border-style: solid;
    line-height: 30px;
    padding: 15px;
    color: var(--text-color);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.color-input {
    pointer-events: auto;
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transform: translateY(6px);
}
.color-input::-webkit-color-swatch-wrapper{
    padding: 0;
    width: 25px;
}
.color-input::-webkit-color-swatch{
    border: none;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--accent-color);
}
.color-input::-webkit-color-swatch:hover{
    border: none;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--hover-color);
}
.color-input::-webkit-color-swatch:active{
    border: none;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--active-color);
}
.material-icons {
    transform: translate(-32%, -10%);
}
.hide-button {
    pointer-events: auto;
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--accent-color);
    color: var(--accent-color);
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: var(--inside-color);
    transform: translateY(5px);
    overflow: hidden;
}
.hide-button:hover {
    border-color: var(--hover-color);
    color: var(--hover-color); 
}
.hide-button:active {
    border-color: var(--active-color);
    color: var(--active-color); 
}
.close-button {
    pointer-events: auto;
    margin: 3px;
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--accent-color);
    color: var(--accent-color);
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: var(--inside-color);
    transform: translateY(5px);
    overflow: hidden;
}
.close-button:hover {
    border-color: var(--hover-color);
    color: var(--hover-color);  
}
.close-button:active {
    border-color: var(--active-color);
    color: var(--active-color); 
}
#gridsize-textbox {
    pointer-events: auto;
    position: relative;
    left: 5px;
    z-index: 2;
    width: 50px;
}
#resolution-textbox {
    pointer-events: auto;
    position: relative;
    left: 5px;
    z-index: 2;
    width: 50px;
}
#enter-button {
    pointer-events: auto;
    position: absolute;
    z-index: 2;
    left: 176px;
}
#settings-button {
    pointer-events: auto;
    position: absolute;
    width: 30px;
    height: 30px;
}
#input-menu-button {
    pointer-events: auto;
    position: relative;
    width: 30px;
    height: 30px;
    top: 25px;
}
#menu-span-0 {
    margin: 0.11em;
}
#settings-span-0 {
    margin: 0.11em;
}
.reload-button {
    pointer-events: auto;
    border: none;
    color: var(--accent-color);
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: var(--main-color);
    margin-left: 5px;
    transform: translateY(6px);
    overflow: hidden;
}
.reload-button:hover {
    border-color: var(--hover-color);
    color: var(--hover-color); 
}
.reload-button:active {
    border-color: var(--active-color);
    color: var(--active-color); 
}
#minus-icon {
    color: var(--accent-color);
    width: 5px;
    height: 5px;
    transform: translate(-24px, -18px);
    font-size: 20px;
}
#plus-icon {
    width: 5px;
    height: 5px;
    color: var(--accent-color);
    transform: translate(-23px, -18px);
    font-size: 20px;
}
#function-textbox {
    pointer-events: auto;
}
@media (max-width: 600px) and (display-mode: fullscreen) {
#input-menu {
    position: absolute;
    top: -8px;
    background-color: var(--main-color);
    border-radius: 5px;
    line-height: 30px;
    padding: 15px;
    width: 85%;
}
#input-container {
    background-color: var(--main-color);
    border-radius: 5px;
    pointer-events: auto;
    position: fixed;
    width: 95%;
    bottom: 5px;
    top: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
    height: 210px;
}
#input-menu-button {
    pointer-events: auto;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 9px;
    top: auto;
    z-index: 3;
}
}
@media (max-width: 600px) {
#input-menu {
    position: absolute;
    top: -8px;
    background-color: var(--main-color);
    border-radius: 5px;
    line-height: 30px;
    padding: 15px;
    width: 85%;
}
#input-container {
    background-color: var(--main-color);
    border-radius: 5px;
    pointer-events: auto;
    position: fixed;
    width: 95%;
    bottom: 10px;
    top: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
    height: 210px;
}
#input-menu-button {
    pointer-events: auto;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 77px;
    top: auto;
    z-index: 3;
}
}